body {
    background-image:url(./../../assets/img/logo6.png);
    background-repeat: repeat;
    background-position: center;
    background-size: 50px;
    height: 5000px;
    color: white;
}

p{
    color:white;
    font-size: 0.25em; 
    font-family: 'Imbue', sans-serif;
}

